*,
*::before,
*::after {
  box-sizing: border-box;
}
hr {
  margin: 2rem 0;
  opacity: 1;
  height: 0.2rem !important;
  border-radius: 2rem;
}
.fa-brands,
.fab {
  font-weight: 400;
  font-size: 3rem;
  margin-right: 1rem;
  margin-top: 5px;
}
